.hide {
  display: none !important;
}
body {
  font-family: 'Circe';
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 15;
  top: 0;
  transition: top ease 0.5s;
  background: $panel_bg_color;
  &.fade {
    top: -80px;
    transition: top ease 0.5s;
  }
}
.page {
  $_: '.page';
  position: relative;
  height: calc(100vh);
  &__bg {
    width: 100%;
    height: 100%;
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
  &.blur {
    img {
      filter: blur(3px);
      -webkit-filter: blur(3px);
    }
    #{$_}__wrap {
      display: none;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0x;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65);
    }
  }
  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &--login {
    .selection {
      $__: '.selection';
      &.left {
        #{$__}__bg {
          left: 100vw !important;
          transition: left ease-in-out 0.5s;
        }
      }
      &.right {
        #{$__}__bg {
          right: 100vw !important;
          transition: right ease-in-out 0.5s;
        }
      }
      &__left {
        left: -100vw !important;
        transition: left ease-in-out 0.5s;
      }
      &__right {
        right: -100vw !important;
        transition: right ease-in-out 0.5s;
      }
      &__wrap {
        // width: 300vw;
        // max-width: 300vw;
        // left: -150vw;
        // transition: max-width ease 5s;
      }
    }
  }
}
.container {
  $_: '.container';
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.h-100 {
  height: 100%;
}
