.btn {
    $_: '.btn';
    @media (max-width: 1350px) {
        &--menu {
            display: block;
            width: 154px;
        }
        &--online,
        &--rules {
            display: none;
        }
    }
    
    @media (max-width: 860px) {
        &--menu {
            width: auto;
        }
        &--close {
            top: 15px;
            right: 15px;
        }
    }
    
}