.list {
    $_: '.list';
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }
    &__item-desc {
        white-space: nowrap;
        color: $white;
        font-size: 19px;
        letter-spacing: -0.7px;
        b {
            letter-spacing: normal;
            padding-left: 5px;
        }
    }
    &--static {
        margin-left: 54px;
        margin-right: 38px;
    }
    &--board {
        padding: 0 8px;
        height: 115px;
        #{$_}__item {
            flex: 1;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 14px;
            &-title {
                font-size: 25px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: -0.4px;
                text-align: center;
                color: $white;
                margin-bottom: 10px;
            }
            &-desc {
                display: flex;
                height: 40px;
                align-items: center;
                b {padding-left: 5px;}
            }
        }
    }
    &--shot {
        #{$_}__item {
            padding-top: 0;
        }
        .ball {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: $white;
            margin: 0 5px;
            &--green {
                background: $green;
            }
            &--red {
                background: $red;
            }
        }
    }
    &--links {
        justify-content: space-around;
        #{$_}__item {
            margin-right: 0;
        }
        #{$_}__link{
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $white;
            padding: 0;
            border-bottom: 1px solid $white;
            line-height: 14px;
            cursor: pointer;
            text-decoration: none;
        }
    }
    
    @media (max-width: 1350px) {
        &--static {
            margin: 0;
            display: flex;
        }
    }
    @media (max-width: 860px) {
        &--static {
            display: none;
        }
    }
}   